{% macro tabela_demanda(demandas) -%}

<table class="table table-striped table-hover border-primary">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo Específico Demanda</th>
            <th>Responsável</th>
            <th>Data Entrada</th>
        </tr>
    </thead>
    <tbody>
        {% for d in demandas %}
        <tr>

            <td>
                <a href="{{url_for('demanda')}}">{{d.titulo}}</a>
            </td>
            <td>{{d.tipo.nome}}</td>
            <td>{{d.responsavel.nome}}</td>
            <td><time datetime="{{d.data_criacao}}">{{d.data_criacao}}</time></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}