{% macro tabela_demanda(demandas, numero_paginas, pagina_atual, id_html, url_get) -%}

<div id="{{id_html}}">
    <table class="table table-striped table-hover border-primary">
        <thead>
            <tr>
                <th>Título</th>
                <th>Tipo Específico Demanda</th>
                <th>Responsável</th>
                <th>Data Entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for d in demandas %}
            <tr>

                <td>
                    <a href="{{url_for('demanda_view', demanda_id=d.id_demanda)}}">{{d.titulo}}</a>
                </td>
                <td>{{d.tipo.nome}}</td>
                <td>{{d.responsavel.nome}}</td>
                <td><time datetime="{{d.data_criacao}}">{{d.data_criacao}}</time></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% for n in range(1, numero_paginas+1) %}
        <button type="button" hx-trigger="click" hx-get="{{url_for(url_get, pagina=n)}}" hx-params="*"
            hx-target="#{{id_html}}" hx-swap="outerHTML">{{n}}</button>
        {% endfor %}
    </div>
</div>
{%- endmacro %}