{% macro consulta_demanda_form(form_consulta_demanda) %}
<form class="d-flex flex-column gap-2" hx-get="{{url_for('consulta_demanda')}}" hx-params="*"
    hx-target="#consulta-demandas-alvo" hx-swap="innerHTML">
    <legend>Consulta Demanda</legend>
    {{form_consulta_demanda.csrf_token}}
    <div>
        {{form_consulta_demanda.titulo.label}}
        {{form_consulta_demanda.titulo(class_="form-control")}}
    </div>
    <div>
        {{form_consulta_demanda.responsavel_id.label}}
        {{form_consulta_demanda.responsavel_id(class_="form-select")}}
    </div>
    <div>
        {{form_consulta_demanda.tipo_id.label}}
        {{form_consulta_demanda.tipo_id(class_="form-select")}}
    </div>
    <div>
        <fieldset>
            <legend>Data de Criação da Demanda por Período</legend>
            <div class="d-flex gap-2">
                <div>
                    {{form_consulta_demanda.periodo_data_criacao_inicio.label}}
                    {{form_consulta_demanda.periodo_data_criacao_inicio(class_="form-select")}}
                </div>
                <div>
                    {{form_consulta_demanda.periodo_data_criacao_fim.label}}
                    {{form_consulta_demanda.periodo_data_criacao_fim(class_="form-select")}}
                </div>
            </div>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Data de Entrega da Demanda por Período</legend>
            <div class="d-flex gap-2">
                <div>
                    {{form_consulta_demanda.periodo_data_entrega_inicio.label}}
                    {{form_consulta_demanda.periodo_data_entrega_inicio(class_="form-select")}}
                </div>
                <div>
                    {{form_consulta_demanda.periodo_data_entrega_fim.label}}
                    {{form_consulta_demanda.periodo_data_entrega_fim(class_="form-select")}}
                </div>
            </div>
        </fieldset>
    </div>
    <div>
        {{form_consulta_demanda.status.label}}
        {{form_consulta_demanda.status(class_="form-select")}}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</form>
{% endmacro %}


{% macro obter_consulta_demanda_form() %}
<div hx-get="{{url_for('obter_form_consulta_demanda')}}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endmacro %}