{% from 'macros/fato/fato_simples_form.html' import fato_simples_form %}
{% from 'macros/fato/fato_card.html' import fato_card_list %}

{% macro linha_do_tempo(fatos, form) %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="linha-do-tempo-offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasLabel">Linha do Tempo</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body row">
        <div class="col-12">
            {{fato_simples_form(form)}}
        </div>
        <div id="lista-fato-card" class="col-12 row">
            {{fato_card_list(fatos)}}
        </div>
    </div>
</div>
{% endmacro %}