{% macro lista_dados_demanda(demanda, demanda_id) -%}
<div id="lista-dados-demanda">
    <ul class="list-group">
        <li class="list-group-item"><span>id: </span><span>{{demanda.id_demanda}}</span></li>
        <li class="list-group-item"><span>Tipo: </span><span>{{demanda.tipo.nome}}</span></li>
        <li class="list-group-item"><span>Status: </span><span>{{demanda.status}}</span></li>
        <li class="list-group-item"><span>Responsável: </span><span>{{demanda.responsavel.nome}}</span></li>
    </ul>
    <button hx-get="{{url_for('editar_demanda_form', demanda_id=demanda_id)}}" hx-target="#lista-dados-demanda"
        hx-swap="outerHTML" type="button" class="btn btn-primary">Editar</button>
</div>
{%- endmacro %}