{% macro lista_dados_demanda(demanda) -%}
<ul class="list-group">
    <li class="list-group-item"><span>id: </span><span>{{demanda.id_demanda}}</span></li>
    <li class="list-group-item"><span>Responsável: </span><span>{{demanda.responsavel.nome}}</span></li>
    {% if demanda.documentos %}
    <li class="list-group-item">
        <span>Documentos: </span>
        {% for d in demanda.documentos %}
        <div>{{d.nome}}</div>
        {% endfor %}
    </li>
    {% endif %}
</ul>
{%- endmacro %}