{% from 'macros/geral/escolha_pagina.html' import escolha_pagina %}

{% macro tabela_demanda(demandas, pagina_atual, numero_paginas, nome_da_view, kwargs_url) %}
<div data-hx-elemento-alvo="">
    <table class="table table-striped table-hover border-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Tipo Específico Demanda</th>
                <th>Responsável</th>
                <th>Data Entrada</th>
                <th>Data Entrega</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{dados_tabela_demanda(demandas)}}
        </tbody>
    </table>
    {{escolha_pagina(pagina_atual, numero_paginas, nome_da_view, kwargs_url, 'closest div[data-hx-elemento-alvo]')}}
</div>
{% endmacro %}


{% macro dados_tabela_demanda(lista_demandas) %}
{% for d in lista_demandas %}
<tr>
    <td>{{d.id_demanda}}</td>
    <td>
        <a href="{{url_for('demanda_view', demanda_id=d.id_demanda)}}">{{d.titulo}}</a>
    </td>
    <td>{{d.tipo.nome}}</td>
    <td>{{d.responsavel.nome}}</td>
    <td><time datetime="{{d.data_criacao}}">{{d.data_criacao}}</time></td>
    <td><time datetime="{{d.data_entrega}}">{{d.data_entrega}}</time></td>
    <td>{{d.status}}</td>
</tr>
{% endfor %}
{% endmacro %}