{% extends "base.html" %}
{% block main %}
<div>
    <h1>Home</h1>
</div>
<div class="row">
    <div class="col-12">
        <h2>Demandas</h2>
    </div>
    <div class="col" id="tabela-demanda-target" hx-get="{{url_for('demanda')}}" hx-target="this" hx-trigger="load">
        -
    </div>
    <div class="col-4">
        <div>
            {% include 'componentes/forms/form_criar_demandas.html' %}
        </div>
        <div>
            {% include 'componentes/forms/form_consulta_demandas.html' %}
        </div>
    </div>
</div>
{% endblock %}