{% from 'macros/form_utils/erros_campo.html' import erros_campo %}
{% from 'macros/documento/criar_tipo_documento_form.html' import obter_criar_tipo_documento_form %}

{% macro inserir_documento(form, demanda_id) %}
<div id="inserir-documento-form">
    <form hx-post="{{url_for('inserir_documento_view', demanda_id=demanda_id)}}" hx-swap="innerHTML"
        hx-swap="#inserir-documento-form" hx-encoding="multipart/form-data">
        <div>
            <legend>Inserir Documento</legend>
        </div>
        <div>
            {{form.csrf_token}}
        </div>
        <div>
            {{form.nome.label}}
            {{form.nome(class_='form-control')}}
            {{erros_campo(form.nome)}}
        </div>
        <div class="d-flex gap-2">
            <div>
                {{form.tipo.label}}
                {{form.tipo(class_='form-select', **{'hx-get': url_for('obter_options_tipo_documento'), 'hx-trigger':
                'TipoDocumentoCriado from:body'})}}
                {{erros_campo(form.tipo)}}
            </div>
            <div class="d-flex flex-column justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#form-criar-tipo-de-documento">
                    Novo Tipo de Documento
                </button>

                <div class="modal fade" id="form-criar-tipo-de-documento" tabindex="-1"
                    aria-labelledby="form-criar-tipo-de-documentoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="form-criar-tipo-de-documentoLabel">Modal title</h1>
                                <button _="on TipoDocumentoCriado from <body/> trigger click on me" type="button"
                                    class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{obter_criar_tipo_documento_form()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{form.identificador.label}}
            {{form.identificador(class_='form-control')}}
            {{erros_campo(form.identificador)}}
        </div>
        <div>
            {{form.descricao.label}}
            {{form.descricao(class_='form-control')}}
            {{erros_campo(form.descricao)}}
        </div>
        <div>
            {{form.arquivo.label}}
            {{form.arquivo(class_='form-control')}}
            {{erros_campo(form.arquivo)}}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Inserir</button>
        </div>
    </form>
</div>

{% endmacro %}