<form hx-get="{{url_for('demanda')}}" hx-params="*" hx-target="#consulta-demandas-alvo" hx-swap="innerHTML">
    <legend>Consulta Demanda</legend>
    <div>
        {{form_consulta_demanda.titulo.label}}
        {{form_consulta_demanda.titulo(class_="form-control")}}
    </div>
    <div>
        {{form_consulta_demanda.responsavel_id.label}}
        {{form_consulta_demanda.responsavel_id(class_="form-select")}}
    </div>
    <div>
        {{form_consulta_demanda.tipo_id.label}}
        {{form_consulta_demanda.tipo_id(class_="form-select")}}
    </div>
    <div>
        {{form_consulta_demanda.data_criacao.label}}
        {{form_consulta_demanda.data_criacao(class_="form-control")}}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</form>