{% from 'macros/tarefa/status_tarefa_pill.html' import status_tarefa_pill %}
{% from 'macros/geral/escolha_pagina.html' import escolha_pagina %}

{% macro tarefa_card(tarefa) -%}
<div class="card" id="tarefa-card-{{tarefa.id_tarefa}}">
    <div class="card-body">
        <div class="card-title">{{tarefa.titulo}}</div>
        <div>
            <ul>
                {% if tarefa.responsavel %}
                <li>Responsável: {{tarefa.responsavel.nome}}</li>
                {% endif %}
                <li>
                    <div>
                        Status: {{status_tarefa_pill(tarefa.status)}}
                    </div>
                </li>
                {% if tarefa.data_entrega %}
                <li>Data de Entrega: {{tarefa.data_entrega}}</li>
                {% endif %}
                {% if tarefa.descricao %}
                <li>
                    <p>{{tarefa.descricao}}</p>
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            {%if not tarefa.status == 'FINALIZADA'%}
            <button class="btn btn-sm btn-success"
                hx-put="{{url_for('finalizar_tarefa_view', tarefa_id=tarefa.id_tarefa)}}"
                hx-swap="none">Finalizar</button>
            {%endif%}
            <button type="button" class="btn btn-sm btn-danger"
                hx-delete="{{url_for('deletar_tarefa_view', tarefa_id=tarefa.id_tarefa)}}"
                hx-swap="none">Deletar</button>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro sequencia_tarefa_card(tarefas) -%}
{% for t in tarefas %}
{{tarefa_card(t)}}
{% endfor %}
{%- endmacro %}

{% macro sequencia_tarefa_em_aberto_card_com_paginacao(demanda_id) %}
<div hx-get="{{url_for('tarefa_card_view', demanda_id=demanda_id)}}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endmacro %}


{% macro sequencia_tarefa_finalizada_card_com_paginacao(demanda_id) %}
<div hx-get="{{url_for('obter_tarefas_finalizadas_por_demanda_view', demanda_id=demanda_id)}}" hx-trigger="load"
    hx-swap="outerHTML"></div>
{% endmacro %}


{% macro sequencia_tarefa_card_com_paginacao(tarefas, pagina_atual, numero_paginas, nome_da_view, kwargs_url,
eventos_gatilho) %}
<div data-hx-elemento-alvo="" hx-get="{{url_for(nome_da_view, **kwargs_url)}}" hx-trigger="{{eventos_gatilho}}"
    hx-swap="outerHTML">
    <div>
        {{sequencia_tarefa_card(tarefas)}}
    </div>
    {{escolha_pagina(pagina_atual, numero_paginas, nome_da_view, kwargs_url, 'closest div[data-hx-elemento-alvo]')}}
</div>
{% endmacro %}